<form 
    class="form"
    [ngClass]="{ 'form-grid--four-columns-by-two-rows': detailsCreateForms.grid.columns === 4 && detailsCreateForms.grid.rows === 2 }"
    [formGroup]="form" *ngIf="createFormView">
    <div
        [ngClass]="{
            'form-span--one': item.start === 1,
            'form-span--two': item.start === 2,
            'form-span--three': item.start === 3
        }"
        *ngFor="let item of elementsForms">
            <div class="form-field--container" *ngIf="item.type === 'input'">
                <label class="form--label" for="{{ item.name }}">{{ item.name }}</label>
                <input
                    id="{{ item.nameField }}"
                    class="form-general-fields"
                    formControlName="{{ item.nameField }}"
                    placeholder="{{ item.name }}"
                    type="input">
            </div>
            <div class="form-field--container" *ngIf="item.type === 'dropdown'">
                <label class="form--label" for="{{ item.name }}">{{ item.name }}</label>
                <select
                    *ngIf="item.name === 0"
                    id="{{ item.name }}"
                    class="form-general-fields"
                    type="select"
                    formControlName="{{ item.nameField }}">
                    <option disabled selected class="placeholders">{{ item.name }}</option>
                    <option id="{{ info.id }}" *ngFor="let info of detailsCreateForms[item.nameField]">{{ info.brand }}</option>
                </select>
            </div>
    </div>
    <button class="form--button">{{ detailsCreateForms.labelButton }}</button>
</form>