.header {
    @apply w-full h-7 py-3 px-3 bg-principal-gray;
}

.all-container {
    @apply  
        md:bg-background-white
        md:pt-11;

    .quote-wrapper {
        @apply w-screen h-11 relative flex 
            md:bg-principal-blue
            md:px-12
            smaller:px-0 bg-principal-white;
    
        .quote {
        
            &-container {
                @apply
                    lg:h-18
                    md:w-1/3 md:h-13 
                  md:bg-principal-white
                    md:rounded
                    md:shadow-lg md:shadow-shadow-color
                    md:px-7 md:py-4
                    md:relative
                    md:bottom-14
                    md:w-full
                    md:bottom-15
                    smaller:w-full
                    smaller:px-1
                    smaller:py-1
                    smaller:px-0
                    smaller:py-0
                    smaller:shadow-none
                    smaller:bg-principal-white;

                .overline-smaller {
                    @apply md:hidden smaller:block w-full h-1 bg-principal-blue my-4;
                }

                .forms-container {
                    @apply smaller:px-1 py-1;
                }

            }
        
            &--title {
                @apply text-principal-blue text-center text-title font-medium
                    md:text-title-tablet smaller:text-smartphone-title;
            }
        
            &--overtitle {
                @apply text-center text-text-color text-2xl mb-8;
            }

            &--link {
                @apply text-principal-blue text-center smaller:my-4;
            }

        }
    
        .sub-title {
            @apply text-principal-gray bg-principal-blue text-4xl mx-8 my-8
                lg:flex md:hidden smaller:hidden;
        }

    }
    
}